/*
COLOR PALETTE
Green White #FEFDFD
Iron        #D6DCDB
Lunar Green #2F4438
Spicy Mix   #815C46
Domino      #94845A
*/

/* GLOBAL STYLES
---------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    height: 100%;
}
body {
    background-color: #FEFDFD;
    background-image: url(../images/flowerbottle.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    margin: 0;
}
article p:first-of-type::first-letter{
    font-size: large;
}
/* Navigation
---------------------------------*/
li {
    padding: 10px;
    transition: all 0.3s ease; /* Adds a smooth transition effect */
}
nav ul li a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #2C3E57;
    font-weight: bold;
    border: 3px solid transparent; /* Add transparent border */
}
nav ul li a:hover {
    background-color: rgb(255 255 255 / 0.5);
    color: #2F443880;
    text-decoration: none;
    border: 3px solid #94845A80;
    transform: scale(1.1);
}
.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}
.content-wrapper{
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
/* HOME
---------------------------------*/
.home {
    background: url(../images/student-room.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
}
.home .content-wrapper {
    background-color: rgb(255 255 255 / 0.9);

}

/* RESUME
---------------------------------*/
.resume header::before{
    background: url(../images/vibes.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 300px;
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #815C46;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}
nav {
    padding: 0%;
    margin: 0%;
    background-color: #f3f8f9;
    background-image: url(../images/readmore.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20%;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
/* Profile
---------------------------------*/

/* Project
---------------------------------*/
.project-item {
    display: flow-root;
    margin: 30px 0;
}
.project-item img{
    width: 300px;
    float: left;
    margin-right: 20px;
}
/* Work Experience
---------------------------------*/

/* Education
---------------------------------*/

/* FOOTER
---------------------------------*/
footer {
    background: #222;
    color: #d3d4d6
}
footer a {
    color:#815C46
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
}
.socials img {
    width: 32px;
}